{{!
    @template comprules_cmcompleteddb/task_details
}}

<div>
    <p class="mb-0">{{#str}}task, local_coursegoals{{/str}}: {{taskname}}</p>
    {{#taskdescription}}
        <p class="mb-0"><small>{{taskdescription}}</small></p>
    {{/taskdescription}}
    <p class="mt-1 mb-0">
        {{#str}}element, comprules_cmcompleteddb{{/str}}: <a class="aalink" href="{{cmlink}}">{{cmname}}</a>
    </p>
    {{#gradepass}}
        <p class="mb-0">{{#str}}gradepass, comprules_cmcompleteddb{{/str}}: {{gradepass}}</p>
    {{/gradepass}}
    <p class="mb-0">{{#str}}yourgrade, comprules_cmcompleteddb{{/str}}: {{yourgrade}}</p>
</div>