{{!
    @template local_coursegoals/task_details
}}

<div>
    <p class="mb-1">{{#str}}task, local_coursegoals{{/str}}: {{taskname}}</p>
    {{#taskdescription}}
        <p class="mb-1"><small>{{taskdescription}}</small></p>
    {{/taskdescription}}
</div>