{{!
    @template comprules_cmcompleted/task_details
}}

<div>
    <p class="mb-0">{{#str}}task, local_coursegoals{{/str}}: {{taskname}}</p>
    {{#taskdescription}}
        <p class="mb-0"><small>{{taskdescription}}</small></p>
    {{/taskdescription}}
    <p class="mt-1 mb-0">
        {{#str}}element, comprules_cmcompleted{{/str}}: <a class="aalink" href="{{cmlink}}">{{cmname}}</a>
    </p>
    {{#gradepass}}
        <p class="mb-0">{{#str}}gradepass, comprules_cmcompleted{{/str}}: {{gradepass}}</p>
    {{/gradepass}}
    {{#yourgrade}}
        <p class="mb-0">{{#str}}yourgrade, comprules_cmcompleted{{/str}}: {{yourgrade}}</p>
    {{/yourgrade}}
    {{#completed}}
        <p class="mb-0">{{#str}}completed, comprules_cmcompleted{{/str}}: {{completed}}</p>
    {{/completed}}
</div>